%p#notice= notice

%p
  %b Note:
  = @notification.note
%p
  %b Read:
  = @notification.read
%p
  %b User:
  = @notification.user_id

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
