%section.panel
  .panel-body.progress-panel
    .task-progress
      %h1{ 'style' => 'font-size:30px'} CAMPAIGNS
      %p LIST OF PHISHING CAMPAIGNS
    .task-option
      = link_to 'New Campaign', new_campaign_path, title: 'Start a new phishing campaign', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', class: "btn btn-default btn-shadow tooltips"

    %table.table.table-hover.personal-task
      %thead
        %tr
          %td{:style=>"width: 30%; color: #39b5aa"} CAMPAIGN
          %td{:style=>"width: 20%; color: #39b5aa"} START
          %td{:style=>"width: 20%; color: #39b5aa"} END
          %td{:style=>"width: 10%; color: #39b5aa; text-align: center"} SEND STATUS
          %td{:style=>"width: 20%;"}
      %tbody
        - if @campaigns.count == 0 
          %tr
            %td{colspan: '5', style: 'text-align: center; font-weight:300; font-size: 50px; color: lightgrey;padding-top: 40px;padding-bottom:40px'} 
              %i.icon-info-sign{style: 'font-size: 50px; color: lightgrey'}
              You don't have any campaign yet
        - else
          - @campaigns.order('id DESC').each do |campaign|
            %tr[campaign]
              %td
                
                - case campaign.status 
                - when CAMP_INPROGRESS
                  %i.icon-refresh.icon-spin{:style => "color: #FF6C60;margin-right: 10px;"}
                - when CAMP_SAVED
                  %i.icon-calendar-empty{:style => "margin-right: 10px;"}
                - when CAMP_QUEUED
                  %i.icon-time{:style => "margin-right: 10px;"}
                - when CAMP_COMPLETED
                  %i.icon-ok-sign{:style => "color: #3a87ad; margin-right: 10px;"}
                - else
                  %i.icon-calendar-empty{:style => "margin-right: 10px;"}
                = campaign.title
              %td= campaign.date_start_at.strftime("%e %b %Y %I:%M %p")
              %td= campaign.date_end_at.strftime("%e %b %Y %I:%M %p")
              %td{:style=>"text-align: center"} 
                - case campaign.status 
                - when CAMP_INPROGRESS
                  - percentage = campaign.total_completed.to_f  / campaign.total_target.to_f * 100
                  %span.badge.bg-primary= "#{percentage.round} %"
                  
                - when CAMP_SAVED
                  %span.badge.bg-default Ready
                - when CAMP_QUEUED
                  %span.badge.bg-warning Scheduled
                - when CAMP_COMPLETED
                  %span.badge.bg-success Completed
                - else
                  %span.badge.bg-default Ready

              %td{ align: 'right' }
                
                = link_to campaign, title: 'View Result', 
                  'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 
                  class: "btn btn-xs btn-white tooltips hide hide" do
                  %i.icon-bar-chart{:style => "color: #8075c4"}
                  
                = link_to stop_campaign_path(campaign), title: 'Stop campaign',
                  class: "btn btn-xs btn-white tooltips hide",
                  'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
                  %i.icon-minus-sign{:style => "color: #fcb322"}

                = link_to start_campaign_path(campaign), title: 'Launch campaign', 
                  class: "btn btn-xs btn-white tooltips hide",
                  'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
                  %i.icon-rocket{:style => "color: #fcb322"}

                = link_to edit_campaign_path(campaign), title: 'Edit campaign',
                  'data-toggle' => 'tooltip', 'data-placement' => 'bottom',
                  class: "btn btn-xs btn-white tooltips hide" do
                  %i.icon-edit{:style => "color: #61a642"}

                = link_to campaign, title: 'Delete campaign', 
                  'data-toggle' => 'tooltip', 'data-placement' => 'bottom',
                  :method => :delete, :data => { :confirm => 'Are you sure?' },
                  class: "btn btn-xs btn-danger tooltips hide" do
                  %i.icon-trash{:style => "color: white"}